@font-face {
    font-family: "Maple Mono NF CN";
    src: url("..\assets\fonts\MapleMono-Regular.ttf.woff2");
    font-weigth: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-00FF, U+4E00-9FFF;
}

:root {
    --el-font-family: "Maple Mono NF CN", sans-serif;
    --el-font-size-base: 14px;
    --el-line-height-base: 1.5;
}

body {
    font-family: var(--el-font-family);
    font-size: var(--el-font-size-base);
    line-height: var(--el-line-height-base);
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea,
label,
span,
div {
    font-family: inherit;
    font-size: inherit;
}